body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 32px, 24px;
    max-width: 720px;
    margin: 0 auto;
    min-height: 100vh;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inf{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    align-items: center;
    gap: 20px;
}
.inf input{
    width: 90%;
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 4px 12px;
}

#tasks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.container{
    background-color: #1d2630;
    height: auto;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    border: 1.5px solid #999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1),
                0 8px 16px rgba(0, 0, 0, 0.1);
}

.container h2{
    color: white;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1.2px;
    margin: 0 0 20px 0;
    width: 100%;
    font-weight: 700;
    display: inline-block;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    /*text-align: center;
    display: inline-block;*/
}
.errorPath{
    display: flex;
    flex-direction: column;
}

#form-error{
    /*width: -webkit-fill-available;*/
    color: #b33030;
    position: relative;
    bottom: -8px;
    left: 0px;
}

.new-note{
    margin-bottom: 32px;
    background-color: white;
    border: 1px solid#dadada;
    border-radius: 6px;
    padding: 16px;
    position: relative;
}

.new-note input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 0 12px;
}

.new-note textarea{
    display: block;
    width: 100%;
    min-height: 100px;
    border: none;
    resize: none;
    background: transparent;
    outline: none;
    padding: 0;
}

.button-container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.add-btn, #taskBtn{
    background-color: #439c43;
    border-radius: 5px;
    padding: 10px 50px;
    border: none;
    color: white;
}

.add-btn:hover{
    opacity: 0.9;
}

#notes-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task{
    position: relative;
   
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 6px;
    padding: 16px;
}

.task > *[contenteditable='true']{
    color: #5f5f5f;
    width: 100%;
    outline: none;
}

.note{
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 6px;
    padding: 16px;
    display: flex;
    margin: 20px 0;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
}

.note > *[contenteditable='true']{
    color: #5f5f5f;
    width: 100%;
    outline: none;
}

.overflow{
    overflow-y: auto;
    max-height: 200px;
    padding-right: 1px;
    border-radius: 4px;
}

.overflow::-webkit-scrollbar{
    width: 15px;
}

.overflow::-webkit-scrollbar-track{
    background: #fff;
    border-radius: 25px;
}

.overflow::-webkit-scrollbar-thumb{
    background: #1877f2;
    border-radius: 25px;
    border: 3px solid #fff;
}

.note-title{
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
    width: 100%;
    display: inline-block;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.note-title:last-child{
    margin-bottom: 0;
}

.note-text{
    color: black;
    margin-bottom: 16px;
    background-color: white;
    width: 100%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    /*text-decoration: none;*/
}

.note-date{
    font-size: 0.75em;
    text-align: right;
    border-top: 1px solid #dadada;
    padding-top: 16px;
    width: 100%;
    margin-top: auto;
}
.task-date{
    color: white;
    font-size: 0.75em;
    text-align: right;
    border-top: 1px solid #dadada;
    padding-top: 16px;
    width: 100%;
    margin-top: auto;
}

.note-controls{
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    font-size: 0.75em;
    column-gap: 8px;
    padding: 8px;
    display: flex;
    opacity: 0;
    transition: opacity 350ms;
}
.task-controls{
    display: flex; /* Enable flexbox for easy alignment */
    gap: 10px;    /* Space between buttons */
    justify-content: flex-end; /* Align buttons to the right */
    align-items: flex-start;   /* Align buttons to the top */
    padding: 10px; /* Add some padding */
}

.note:hover .note-controls{
    opacity: 1;
}
.note-controls:focus-within{
    opacity: 1;
}

.task-controls button{
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0.5rem;
}

.note-controls button{
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0.5rem;
}

.note-controls button:hover{
    filter: brightness(0.85);
}

.note-delete, .task-delete{
    color: red;
}

.note-edit, .task-edit{
    color: #00bb00;
}

.note-save, .task-save{
    color: #0000bb;
}

.note-save[disabled='true']{
    color: #dfdfdf;
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
}

.note-complete {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.note-complete label {
    margin-right: 5px;
}

.note-text.completed {
  text-decoration: line-through;
}

/*p{
    text-decoration: line-through;
}*/